@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500;700&display=swap');

:lang(zh), 
:lang(zh-Hant), 
:lang(zh-TW), 
:lang(zh-HK) {
  font-family: "Noto Serif TC", serif !important;
}

body {
  font-family: "AmericanTypewriter", "Cutive Mono", monospace;
}

.nav .logo a {
  font-family: "AmericanTypewriter", "Cutive Mono", monospace;
}