.footer .dark-emoji {
    filter: brightness(0.4) saturate(1.2) hue-rotate(15deg);
    display: inline-block;
    vertical-align: middle;
    margin-right: 4.5px;
    margin-inline-end: 4.5px;
    font-size: 1.0em;
}

body.dark .footer .dark-emoji {
    filter: brightness(0.8) saturate(1.5) hue-rotate(15deg);
}
