@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body {
  font-family: "AmericanTypewriter", "Cutive Mono", monospace;
}

.nav .logo a {
  font-family: "AmericanTypewriter", "Cutive Mono", monospace;
}